<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Errore</title>
</head>
<body>
    
        <p>@ViewBag.ErrorMessage</p>
        <p>Per favore, torna alla <a href="@Url.Action("Index","Home")">Pagina principale</a>.</p>
   
</body>
</html>