@{
    ViewBag.Title = "Dove Trovarci";
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Stile/Css/StyleHome.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('../../stile/immagini/wood-wine-barrels-stored-winery-fermentation-process.jpg');
            background-size: cover; /* Imposta l'immagine di sfondo per coprire l'intera area del body */
            background-position: center; /* Centra l'immagine di sfondo */
            background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine di sfondo */
            background-attachment: fixed; /* Fissa l'immagine di sfondo in modo che non scorra con il contenuto */
            margin: 0; /* Rimuove i margini per centrare correttamente il contenuto */
            padding: 0; /* Rimuove il padding per centrare correttamente il contenuto */
        }

 

        h2 {
            text-align: center;
            color: #8B0000;
            margin-top: 30px; /* Aggiunge spazio in alto */
        }

        
    </style>
</head>
<body>
    <h2>Dove Trovarci</h2>

    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6596.427911973707!2d12.980457539612981!3d45.96214523067146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sit!2sit!4v1713339966142!5m2!1sit!2sit" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="location-info">
        <h3>Siamo Qui</h3>
        <p>Vieni a trovarci presso il nostro punto vendita in:</p>
        <p>Via Roma, 69 - Codroipo</p>
        <p>Siamo aperti nei seguenti orari:</p>
        <ul>
            <li>Lunedì - Venerdì: 9:00 - 18:00</li>
            <li>Sabato: 9:00 - 13:00</li>
            <li>Domenica: Chiuso</li>
        </ul>
        <p>Per maggiori informazioni, contattaci al numero: +39 0123 456789</p>
    </div>
</body>
</html>
