@{
    ViewBag.Title = "Noi";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        header {
            background-color: #FFA630;
            color: #8c0047;
            padding: 20px;
            text-align: center;
        }

        .containerNoi {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #8c0047;
            text-align: center;
        }

        p {
            line-height: 1.6;
            margin-bottom: 15px;
        }

        .mission, .selection, .quality, .customer-service, .explore, .ringraziamenti {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .mission h3, .selection h3, .quality h3, .customer-service h3, .explore h3 {
            color: #8c0047;
            margin-top: 0;
        }

      

        /* Responsive CSS */
        @@media only screen and (max-width: 600px) {
            .container {
                width: 100%;
                padding: 10px;
                
            }
        }
    </style>
</head>
<body>
    <header>
        <h1>Benvenuti Dal Lupo Ubriaco!</h1>
    </header>
    <div class="containerNoi">
        
        <div class="mission">
            <h3><strong>La nostra missione</strong></h3>
            <p>Dal Lupo Ubriaco, ci impegniamo a offrire una selezione eccezionale di vini che incarna l'essenza e la varietà delle regioni vinicole globali.</p>
            <p>Ogni bottiglia nel nostro catalogo è stata accuratamente selezionata per garantire <strong>qualità</strong>, <strong>autenticità</strong> e un'esperienza indimenticabile per ogni degustatore.</p>
            <img src="https://i2.res.24o.it/images2010/S24/Documenti/2023/03/30/Immagini/Ritagli/javierbalseiroDU4yYk5Kgsunsplash-U62088272830Okg-1440x752@IlSole24Ore-Web.jpg?r=1080x566" alt="Immagine Missione" style="max-width: 100%;">
        </div>
        <div class="selection">
            <h3><strong>La nostra selezione</strong></h3>
            <p>Esplora il nostro vasto assortimento di vini, che spazia dalle etichette classiche alle gemme nascoste e alle piccole produzioni artigianali.</p>
            <p>Dalla vivace freschezza dei <strong>bianchi</strong> alle complesse profondità dei <strong>rossi</strong>, abbiamo qualcosa per soddisfare ogni palato e ogni occasione.</p>
            <img src="https://wine.pambianconews.com/wp-content/uploads/sites/15/2023/04/Foto-Top-Producers-2022.jpg" alt="La nostra selezione" style="max-width: 100%;">
        </div>
        <div class="quality">
            <h3><strong>L'impegno per la qualità</strong></h3>
            <p>La <strong>qualità</strong> è al centro di tutto ciò che facciamo. Collaboriamo direttamente con produttori e cantine rinomate per garantire che ogni bottiglia che arriva alla tua tavola soddisfi i più elevati standard di eccellenza.</p>
            <p>Ogni vino nel nostro assortimento è stato degustato e valutato attentamente dal nostro team di esperti enologi.</p>
            <img src="https://blog.foodit.it/wp-content/uploads/2018/03/vino-rosso_ok-1.jpg" alt="Impegno per la qualitá" style="max-width: 100%;">
        </div>
        <div class="customer-service">
            <h3><strong>Servizio clienti</strong></h3>
            <p>Siamo qui per te. Il nostro team dedicato è disponibile per rispondere a qualsiasi domanda, fornire consigli sui vini e assisterti in ogni fase del tuo viaggio enologico.</p>
            <p>Sia che tu stia pianificando una cena intima o un regalo speciale, siamo qui per assicurarci che la tua esperienza Dal Lupo Ubriaco sia impeccabile.</p>
            <img src="https://sorsiepercorsi.it/wp-content/uploads/2019/01/degustazione_vini-1.jpg" alt="Servizio Clienti" style="max-width: 100%;">
        </div>
        <div class="explore">
            <h3><strong>Esplora, scopri, goditi</strong></h3>
            <p>Esplora il nostro sito, scopri nuovi vini e goditi l'emozione di scoprire sapori unici e avvincenti.</p>
            <p>Dal Lupo Ubriaco, ogni bottiglia è un viaggio attraverso il mondo del vino, pronto ad arricchire le tue esperienze e creare ricordi indelebili.</p>
            <img src="https://dotravel.com/uploads/articles/72/wine-tasting-vineyard.jpg" alt="Esplora, scopri, goditi" style="max-width: 100%;">
        </div>
   
       <div class="ringraziamenti"> 
            <p>Grazie per aver scelto Dal Lupo Ubriaco per le tue esigenze vinicole. Solleviamo il calice a te, ai tuoi momenti speciali e alla gioia del vino!</p>
            <p>Salute,<br>Il team molto brillo di "Dal Lupo Ubriaco"</p>
        </div>
            </div>

</body>
</html>
